.chipList {
  composes: chipList from './chip.module.css';
}

.chip {
  composes: chip from './chip.module.css';
}

.chipRemove {
  composes: chipRemove from './chip.module.css';
}

.textInput {
  composes: textInput from './chip.module.css';
}
